@font-face {
	font-family: irsRegular;
	font-style: normal;
	font-weight: normal;
	src: url('../fonts/woff/IRANSansXFaNum-Regular.woff') format('woff'),   
	url('../fonts/woff2/IRANSansXFaNum-Regular.woff2') format('woff2');		 
}

@font-face {
	font-family: irsMedium;
	font-style: normal;
	font-weight: 500;
	src: url('../fonts/woff/IRANSansXFaNum-Medium.woff') format('woff'),   
	url('../fonts/woff2/IRANSansXFaNum-Medium.woff2') format('woff2');		 
}

@font-face {
	font-family: irsBold;
	font-style: normal;
	font-weight: bold;
	src: url('../fonts/woff/IRANSansXFaNum-Bold.woff') format('woff'),   
	url('../fonts/woff2/IRANSansXFaNum-Bold.woff2') format('woff2');	 
}

@font-face {
	font-family: irsBlack;
	font-style: normal;
	font-weight: 900;
	src: url('../fonts/woff/IRANSansXFaNum-Black.woff') format('woff'),   
	url('../fonts/woff2/IRANSansXFaNum-Black.woff2') format('woff2');	 
}

body {
	font-family: irsMedium;
}

.fade-in-animate {
	animation: fadeIn 1s;
}

@keyframes fadeIn {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

@media only screen and (min-width: 600px) {
	.Vue-Toastification__container.top-right .Vue-Toastification__toast--rtl,
	.Vue-Toastification__container.bottom-right .Vue-Toastification__toast--rtl {
	  margin-right: unset !important;
	  margin-left: auto !important;
	  font-family: "irsMedium", Arial, Helvetica, sans-serif !important;
	}
}